.belgium{
    width: 600px;
    height: 300px;
    background: black;
    display: flex;
}

.section-1{
    width: 200px;
    height: 300px;
    background: rgb(0, 0, 0);
}
.section-2{
    width: 200px;
    height: 300px;
    background: #fdda25;
}
.section-3{
    width: 200px;
    height: 300px;
    background: #ef3340;
}